@model G8Cozy.Models.user

@{
    ViewData["Title"] = "verify code";
}

<div>
    <h4>verify for your account</h4>

    <form asp-action="PasswordResetConfirmation">
        verifiy code:
        <input type="text" asp-for="Code" />
        <input type="submit" value="Send" class="btn btn-danger" />
    </form>
</div>
